#Data Types and Structures Questions

1. What are data structures, and why are they important?

Data structures are formats used to store and organize data efficiently. They are essential because they allow fast data access, insertion, deletion, and manipulation, making code more optimized and readable.

2. Explain the difference between mutable and immutable data types with examples

Mutable data types can be changed after creation. Examples: list, dict, set.
Immutable data types cannot be modified once created. Examples: tuple, str, int.

3. What are the main differences between lists and tuples in Python

In Python, lists are mutable, meaning their elements can be modified after creation, while tuples are immutable and cannot be changed once defined.

Lists use square brackets [ ], whereas tuples use parentheses ( ). Due to immutability, tuples are generally faster and used when fixed data is needed.

4. Describe how dictionaries store data

A dictionary in Python stores data as key-value pairs using a hash table. Each unique key maps to a value, allowing quick data retrieval, insertion, and deletion.

5. Why might you use a set instead of a list in Python

we might use a set instead of a list when you need to store only unique elements and perform fast membership tests. Sets automatically remove duplicates and offer better performance for checking existence

6. What is a string in Python, and how is it different from a list

A string in Python is a sequence of characters enclosed in quotes and is immutable. Unlike lists, which can hold different data types and be modified, strings can only hold characters and cannot be changed after creation.

7. How do tuples ensure data integrity in Python

Tuples ensure data integrity by being immutable, meaning their elements cannot be changed after creation. This prevents accidental modifications and makes them suitable for storing constant or fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure that maps keys to values using a hash function for fast access. In Python, dictionaries are implemented using hash tables to efficiently store and retrieve key-value pairs.

9. Can lists contain different data types in Python

Yes, lists in Python can contain different data types such as integers, strings, floats, or even other lists. This makes them flexible for storing mixed data in a single collection.

10. Explain why strings are immutable in Python

Strings are immutable in Python to ensure memory efficiency and security, as they are often used as keys in dictionaries. This immutability also allows safe sharing and consistent behavior across programs.

11. What advantages do dictionaries offer over lists for certain tasks

Dictionaries provide faster data lookup using unique keys, making them ideal for tasks like mapping and searching. They offer better performance than lists when accessing elements by identifier instead of position.

12. Describe a scenario where using a tuple would be preferable over a list

A tuple is preferable when storing fixed data that should not change, like days of the week or coordinates. It ensures data remains constant and is also faster and more memory-efficient than a list.

13. How do sets handle duplicate values in Python

Sets automatically remove duplicate values, storing only unique elements. When duplicates are added, sets keep just one instance, ensuring all items remain distinct.

14. How does the “in” keyword work differently for lists and dictionaries

In lists, the in keyword checks if a value exists anywhere in the list by scanning elements.
In dictionaries, it checks if a key exists, making the lookup faster due to the underlying hash table.

15. Can you modify the elements of a tuple? Explain why or why not

No, you cannot modify elements of a tuple because tuples are immutable. This immutability ensures their contents remain constant after creation, preventing accidental changes.

16. What is a nested dictionary, and give an example of its use case

A nested dictionary is a dictionary where values themselves are dictionaries, allowing hierarchical data storage. It’s useful for representing complex data like a student’s records with subjects and their scores.

17. Describe the time complexity of accessing elements in a dictionary

Accessing elements in a dictionary usually takes constant time, O(1), thanks to hashing. In rare cases with many hash collisions, it can slow to O(n). Overall, dictionary lookups are very fast and efficient.

18. In what situations are lists preferred over dictionaries

Lists are preferred when you need an ordered collection or want to store items by position. They work well for simple sequences, iteration, or when duplicates are allowed. Dictionaries are better for key-based access, but lists are simpler for indexed data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

Dictionaries in Python versions before 3.7 are unordered, meaning they don’t keep items in a specific order. This means you can’t rely on the order of keys when retrieving data, but access by key is still fast and reliable.

20. Explain the difference between a list and a dictionary in terms of data retrieval

Lists retrieve data by position (index), so you access items based on their order. Dictionaries retrieve data by keys, allowing faster and direct access without knowing the item’s position.

#Practical Questions

####Q1: Write a code to create a string with your name and print it

In [2]:
name = "Nikita"
print(name)

Nikita

####Q2: Write a code to find the length of the string "Hello World"

In [4]:
tet = "Hello World"
length = len(tet)
print(length)

11

####Q3: Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
text = "Python Programming"
slice_text = text[:3]
print(slice_text)

Pyt

####Q4: Write a code to convert the string "hello" to uppercase

In [6]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

####Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

####Q6: Write a code to create a list with numbers 1 to 5 and print it

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

####Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

####Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

####Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

####Q10: Write a code to reverse the list [10, 20, 30, 40, 50]

In [12]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

####Q10. Write a code to create a list with the elements 10, 20, 30 and print it.

In [13]:
lst = [10, 20, 30]
print(lst)

[10, 20, 30]

####Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

####Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

####Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

####Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

####Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

####Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

####Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

####Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

####Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

####Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
person = {'name': 'John', 'age': 30, 'city': 'London'}
print(person)

{'name': 'John', 'age': 30, 'city': 'London'}

####Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

####Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

####Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

####Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

####Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dict = {'a': 7, 'b': 8}
print(lst, tup, dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

####Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [30]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[5, 10, 21, 52, 88]

####Q28. Write a code to create a list with strings and print the element at the third index.

In [31]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

####Q29. Write a code to combine two dictionaries into one and print the result.

In [32]:
a = {'x': 1, 'y': 2}
b = {'y': 3, 'z': 4}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 3, 'z': 4}

####Q30. Write a code to convert a list of strings into a set.

In [33]:
words = ['apple', 'banana', 'apple', 'cherry']
unique_words = set(words)
print(unique_words)

{'cherry', 'apple', 'banana'}